html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  list-style: none;
  color: currentColor;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.55)
}
